Source: scim-tables
Section: utils
Priority: optional
Maintainer: Ming Hua <minghua@rice.edu>
Uploaders:  Osamu Aoki <osamu@debian.org>
Build-Depends: debhelper (>= 4.0.0), dpatch, pkg-config, autotools-dev, libscim-dev (>= 1.4.1)
Standards-Version: 3.6.2

Package: scim-modules-table
Architecture: any
Depends: scim (>= 1.4.1), ${shlibs:Depends}
Recommends: scim-tables-zh | scim-tables-ja | scim-tables-ko | scim-tables-additional
Replaces: scim
Description: generic tables IM engine module for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the generic tables IM engine for SCIM.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-tables-zh
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Recommends: ttf-arphic-gbsn00lp | ttf-arphic-gkai00mp, ttf-arphic-bsmi00lp | ttf-arphic-bkai00mp
Description: SCIM Chinese Input Method table data (WuBi, CangJie, etc.)
 SCIM Chinese Input Method data for Generic Table Input Method module.
 Currently the supported table-based Chinese input methods are:
     Hang2Lie4 30            Array30.bin
     Cang1Jie2               CangJie.bin
     Cang1Jie2 (version 3)   CangJie3.bin
     Cang1Jie2 (version 5)   CangJie5.bin
     Guang3Dong1 Pin1Yin1    Cantonese.bin
     Guang3Dong1 (Hong Kong) CantonHK.bin
     Da4 Yi4                 Dayi3.bin
     Qing1Song1              EZ-Big.bin
     Er4 Bi3                 Erbi.bin
     Er4 Bi3 (Qing1Song1)    Erbi-QS.bin
     Yue4Yu3 Pin1Yin1        Jyutping.bin
     Su4Cheng2               Quick.bin
     Jian3Yi4                Simplex.bin
     Bi3Shun4 Wu3Ma3         Stroke5.bin
     Wu3 Bi3                 Wubi.bin
     Wu2Yu3 Zhu4Yin1         Wu.bin
     Zhu4Yin1                ZhuYin.bin
     Zi4Ran2 Ma3             Ziranma.bin
 .
 The data files came from unicon and xcin.

Package: scim-tables-ja
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Description: SCIM Japanese Input Method table data (Hiragana, Katagana, etc.)
 SCIM Japanese Input Method data for Generic Table Input Method module,
 including Hiragana, Katagana, Nippon, etc.
 .
 The data files came from unicon.

Package: scim-tables-ko
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Description: SCIM Korean Input Method table data (Hangul, Hanja, etc.)
 SCIM Korean Input Method data for Generic Table Input Method module,
 including Hangul, Hangul Romaja, Hanja, etc.
 .
 The data files came from unicon.

Package: scim-tables-additional
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Description: SCIM Input Method table data for additional languages
 SCIM Input Method data for non-CJK languages.  The currently supported
 languages are Amharic, Arabic, Nepali, Russian, Thai, Vietnamese, and several
 Indic languages (Bengali, Gujarati, Hindi, Kannada, Malayalam, Punjabi, Tamil
 and Telugu).  It also provides support to X-SAMPA and LaTeX style input.
