Source: scim-tables
Section: utils
Priority: optional
Maintainer: Ming Hua <minghua@rice.edu>
Uploaders:  Osamu Aoki <osamu@debian.org>
Build-Depends: debhelper (>= 4.0.0), dpatch, pkg-config, autotools-dev, libscim-dev (>= 1.4.0)
Standards-Version: 3.6.2

Package: scim-modules-table
Architecture: any
Depends: scim, ${shlibs:Depends}
Recommends: scim-tables-zh | scim-tables-ja | scim-tables-ko | scim-tables-additional
Replaces: scim (<< 1.2.0)
Description: generic tables IM engine module for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the generic tables IM engine for SCIM.  With data tables this
 module can provides input method for various languages.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-tables-zh
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Recommends: ttf-arphic-gbsn00lp | ttf-arphic-gkai00mp, ttf-arphic-bsmi00lp | ttf-arphic-bkai00mp
Description: Chinese input method data tables for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package contains SCIM table-based input method data for Chinese.
 Currently the provided tables are:
 .
 Array30, CangJie, CangJie3, CangJie5, Cantonese, CantonHK, CNS11643,
 Dayi3, EZ-Big, Erbi, Erbi-QS, Jyutping, Quick, Simplex, Stroke5, Wubi,
 Wu, ZhuYin, ZhuYin-Big, and Ziranma.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-tables-ja
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Description: Japanese input method data tables for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package contains SCIM table-based input method data for Japanese.
 Currently the provided tables are Hiragana, Katagana, and Nippon.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-tables-ko
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Description: Korean input method data tables for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package contains SCIM table-based input method data for Korean.
 Currently the provided tables are Hangul, Hangul Romaja, and Hanja.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-tables-additional
Architecture: all
Depends: scim-modules-table (>= ${Source-Version})
Description: miscellaneous input method data tables for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package contains SCIM input method data tables for non-CJK languages.
 The currently supported languages are Amharic, Arabic, Nepali, Russian, Thai,
 Vietnamese, and several Indic languages (Bengali, Gujarati, Hindi, Kannada,
 Malayalam, Punjabi, Tamil and Telugu).  It also provides support for X-SAMPA
 and LaTeX style input.
 .
 For details about SCIM, please see the description of package scim.
